@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root{
  --main-bg-color: #333;
  --seccondary-bg-color: #474747;
}

body {
  background: radial-gradient(circle at bottom, navy 0, black 100%);
  height: 100vh;
  overflow: hidden;
}

h1{
  padding: 1px;
  font-family: monospace;
  font-weight: lighter;
}
h2{
  padding: 1px;
  font-family: monospace;
  font-weight: lighter;
}
h3{
  padding: 1px;
  font-family: monospace;
  font-weight: lighter;
}
h4{
  padding: 1px;
  font-family: monospace;
  font-weight: lighter;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: var(--main-bg-color);
  border-radius: 100px;
  width: 292.5px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  font-family: monospace;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  border-radius: 100px;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animatebottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

.scroll{
  display: none;
  overflow: scroll;
  height: 100%;
}

.active {
  background-color: #4CAF50;
  border-radius: 100px;
}
.active:hover{
  background-color: #3c783e;
}

.body{
  margin: 0 auto;
  background-color: var(--main-bg-color);
  border-radius: 30px;
  width: 800px;
  text-align: center;
  color: white;
}

.package{
	margin: 10px;
	display: inline-block;
	background-color: var(--seccondary-bg-color);
	border-radius: 30px;
	width: 250px;
	height: 250px;
	text-align: center;
	color: white;
}

.breakborder{
	margin: 0 auto;
	height: 2px;
	width: 85%;
	border-radius: 100px;
	background-color: white;
}

.footer{
  background-color: white;
  color: black;
  border-radius: 25px;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 130px;
}

.footer .left{
  padding-left: 40px;
  float: left;
  width: 60%;
}

.footer .designed{
  float: right;
  width: 30%;
}

.trs{
  background-color: transparent;
  color: black;
  border: none;
}
